.animate__animated.animate__delay-100ms {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.animate__animated.animate__delay-200ms {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.animate__animated.animate__delay-300ms {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.animate__animated.animate__delay-400ms {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.animate__animated.animate__delay-500ms {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.animate__animated.animate__delay-700ms {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.animate__animated.animate__delay-700ms {
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

.animate__animated.animate__delay-800ms {
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

.animate__animated.animate__delay-900ms {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}