@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #fff;
  --background-start: #45a247;
  --background-end: #283c86;
}

body {
  color: var(--foreground);
  background: linear-gradient(
      to right,
      var(--background-start),
      var(--background-end)
    );
  min-height: 100vh;
}
